html
	head
		style
			include style.css
			
		title= 'User Query'
		
	body
		p 
		div#inputbox
			input#userinput(type='text' value="" name='input' placeholder='Type in to search tweet')
			button#userinput(type='submit' value='Search tweet' onclick="Redirect()") Search Tweet
			
		h1= SearchText
		h1#Sentiment= Mood
		
		p Most recent tweets with your query
		table
			for tweets in TWEETS
				tr
					td= tweets.Text
					td= tweets.Time

		button#userinput(type='submit' value='Search tweet' onclick="RedirectHome()") Return to homepage

					
					
				
script.
	function Redirect(){
		var input = "";
		var page = "";
		input = document.getElementById("userinput").value;
		
		if(input === ""){
			alert("Please enter a tweet to search a query.");	
		}else{
			var path = "http://13.210.163.174:3000/search/";
			var finalURL= path + input;
			window.location.href=finalURL;
		}
	}

	function RedirectHome(){
		var path = "http://13.210.163.174:3000/";
		var finalURL= path;
		window.location.href=finalURL;
		
	}